Personalized Form
<br>

<input type="" name="name" placeholder="Name">
<br>
<input type="" name="email" placeholder="Email">
<br>
<button type="button" name="add">Add</button>
<button type="button" name="save">Save</button>
<br><br>

<input name="Task" placeholder="Task">

<label for="Task">Priority</label>
<select name="Task" placeholder="Priority" id="Task">
  <option value="low">Low</option>
  <option value="medium">Medium</option>
  <option value="high">High</option>
</select>

<input name="Date" placeholder="Due Date">

<button type="button" name="delete">X</button>