<mat-card>
  <mat-card-content>
    <img mat-card-image [src]="post.image">
  </mat-card-content>
</mat-card>

<div>
  <mat-card>
    <mat-card-content>Posting Id: {{ post.posting_id }}</mat-card-content>
  </mat-card>


<mat-card>
  <mat-card-content>Posting Date: {{ post.posting_date }}</mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>Name: {{ post.name }}</mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>Email: {{ post.email }}</mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>Phone: {{ post.phone}}</mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>Title: {{ post.title }}</mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>Description: {{ post.description }}</mat-card-content>
</mat-card>



</div>

<button mat-raised-button color="primary" (click) = "cancelList()" >Cancel</button>
<button mat-raised-button color="primary" (click) = "submitList()">Confirm</button>


