<mat-form-field appearance="fill">
    <mat-label>Games per page</mat-label>
    <mat-select>
      <mat-option value="one">5</mat-option>
      <mat-option value="two">10</mat-option>
    </mat-select>
</mat-form-field>

<div class="game-list">
    <mat-card>
        <mat-card-content>Simple card</mat-card-content>
    </mat-card>
</div>

<div class="button-row">
    <button mat-flat-button color="primary">Previous</button>
    <button mat-flat-button color="primary">Next</button>
</div>

   

