<mat-form-field appearance="fill">
    <mat-label>Games per page</mat-label>
    <mat-select (selectionChange)="onLimitChange($event)">
      <mat-option *ngFor = "let limit of limitOptions" [value]="limit">{{ limit }}</mat-option>
    </mat-select>
</mat-form-field>

<div class="game-list">
    <!-- use *ngFor directive to iterate -->
    <mat-card *ngFor = "let game of games">
        <!-- use string interpolation to show results -->
        <mat-card-content>{{ game.name }}</mat-card-content>
    </mat-card>
</div>

<div class="button-row">
    <!-- disable previous button when on first page -->
    <button mat-flat-button color="primary" (click)="onChangePage(-1)" [disabled]="currOffset <= 0">Previous</button>
    <button mat-flat-button color="primary" (click)="onChangePage(1)">Next</button>
</div>

   

